.api-response {
    width: fit-content;
    padding: 20px;
    color: green;
    font-size: .2em;
    border: 1px solid black
}

.api-error {
    width: fit-content;
    padding:20px;
    color: red;
    font-size: .2em;
    border: 1px solid black
}